/* =========================
Montserrat — Variable
========================= */

/* Normal */
@font-face {
  font-family: "Montserrat";
  src: url("@/assets/fonts/Montserrat[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "Montserrat";
  src: url("@/assets/fonts/Montserrat-Italic[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}


/* =========================
Montserrat — Static fallback
========================= */
@font-face {
  font-family: "Montserrat";
  src: url("@/assets/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("@/assets/fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("@/assets/fonts/Montserrat-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
