@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  .myprose {
    @apply text-gray-700 leading-prose max-w-2xl;
  }

  .myprosedark {
    @apply text-sc-white leading-prose max-w-2xl;
  }

  .myprose p + p, .myprosedark p + p {
    @apply mt-5;
  }

  .myprose-condensed p + p {
    @apply mt-2;
  }

  .myprose-loose p + p {
    @apply mt-8;
  }

}
