---
interface Props {
  href: string,
};
const { href, classes } = Astro.props as Props;

function normalize(pathname) {
  return (pathname != "/") ? pathname.replace(/\/$/, "") : pathname;
}

let defaultClasses = "hover:underline hover:text-blue-600"
if (normalize(href) === normalize(Astro.url.pathname)) defaultClasses += " font-medium";
---

<a href={href} class={`${defaultClasses} ${classes ? classes : ''}`} >
  <slot/>
</a>
