---
import "@/assets/css/tailwind.css";
import "@/assets/css/fonts.css";
import Nav from '@/shared/Nav.astro'
import Footer from '@/shared/Footer.astro'

interface Props {
  head: { title: string, description: string },
}
const { head } = Astro.props as Props;

const currentPathname = Astro.url.pathname;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={head.description} />
    <title>{head.title}</title>

    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <script src="/src/lib/elements.js"></script>
  </head>

  <body class="min-h-screen flex flex-col">
    <Nav class="shrink-0" />
    <main class="mx-auto flex-grow">
      <slot />
    </main>
    <Footer class="shrink-0" />
  </body>

</html>
